.searchPanel{
    border-radius: 30px;
    postion: relative;
    background: #F8F9FB;
    display: flex;
    width:300px;
    justify-content: space-between;
    align-items: center;
}
.searchPanel input{
    border-radius: 30px;
    width: 85%;
    outline: none;
}
.searchPanel img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    cursor: pointer;
}
