.mainPageBlock{
    position: relative;
    display: flex;
    align-items: center;
    height: 400px;
    cursor: pointer;
    transition: ease .2s;
    border-radius: 15px;

}
.mainPageBlock p{
    font-size: 2.2em;
    color: #ffffff;
}
.mainPageBlock img{
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 75px;
    height: 75px;
}
.mainPageBlock:hover{
   transform: scale(1.05);

    transition: ease .2s;
}

.providerBlock{
    background: #F3AC55;
}
.chatBlock{
background: #32C581;
}
.usersBlock{
    background: #4A8AF4;
}

.filesBlock{
    background: #DA6651;
}