.crmTable{
    display: flex;
    flex-direction: column;
    width: 100%;
    background:  #FBFCFD;
    padding: 30px 15px;
    border-radius: 25px;
}
.crmTable__title{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.crmTable__searchField{
    display: flex;
}
.crmTable__recordCreator img{
    width: 18px;
    height:20px;
}
.crmTable__recordCreator {
    display: flex;
    align-items: center;
    cursor: pointer;
}