.authContainer{
    border-radius: 15px;
    background: #ffffff;
    padding: 30px 30px 55px 30px;
    width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;

}
.authContainer h2{
    font-weight: 200;
    font-size: 2em;
    text-align: center;
    margin: 30px 0 60px 0;
}
.authContainer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-focus: none;
}
.authInput{
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    position: relative;
    background: #7663F5;

}
.authInput img{
    width: 5%;
    height: 20px;
    margin: 0 15px;
}
.authInput input{
    width: 85%;
    border: none;
}
.authError{
    color: #ffffff;
    padding: 0 7px;
}
.authBtn{
    position: relative;
    border-radius:40px;
    width: 15%;
    background: rgb(188,94,224);
    background: linear-gradient(20deg, rgba(188,94,224,1) 15%, rgba(226,88,212,1) 70%);
    border: none;
    color: #ffffff;
    padding: 15px;
    -webkit-box-shadow: 2px 12px 5px -1px rgba(209,207,223,0.70);
    -moz-box-shadow: 2px 12px 5px -1px rgba(209,207,223,0.70);
    box-shadow: 2px 12px 5px -1px rgba(209,207,223,0.70);
    align-self: center;
    outline: none!important;
    margin-top: 15px;
}
.authBtn:hover{
    transform: scale(1.1);
}
.authBtn img{
    width: 25px;
    height: 25px;
}

.authBtn span{
    position: absolute;
   transform: translate(-50%,45%);
    left: 50%;
    top:50%;
    color: #D1CFDF;
    padding: 10px;
}
